/* App.css */

.search-field {
  width: 440px;
  padding: 20px 0;
  margin: 0 auto; /* Center the element */
  box-sizing: border-box; /* Include padding in the element's total width */
}

@media (max-width: 440px) {
  .search-field, .daily-item, .accordion, .accordion__item, .weather {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    box-sizing: border-box;
  }


  .daily-item {
    font-size: 12px;
    padding: 5px 10px;
  }

  .weather-icon {
    width: 50px;
  }

  .temperature {
    font-size: 50px;
  }

  .parameter-row {
    font-size: 10px;
  }
}

/* forecast.css */

@media (max-width: 440px) {
  .daily-details-grid {
    grid-template-columns: 1fr;
  }
}

/* current-weather.css */

@media (max-width: 440px) {
  .weather {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
  }
}
